[Desktop Entry]
Name=StarUml
Comment=Uml Modeling tool
TryExec=/usr/bin/staruml
Exec=/usr/bin/staruml
Icon=/opt/staruml/appshell256.png
Type=Application
Categories=Development;GNOME;GTK
StartupNotify=true 
